// The main page background.
$background-color: #ffffff;

// High contrast against $background-color.
$primary-color: #60a158;

// Lower-contrast text against $primary-color and $background-color.
$secondary-color: #bed2bc;
