<% wrap_layout :layout do %>
<% article = current_article %>

<section class="post">

  <header class="post-header">

    <h2 class="post-title"><%= article.title %></h2>

    <p class="post-meta">
      — <%= article.metadata[:page]["author"] || "Paul Annesley" %>,
      <%= article.date.strftime('%b %e %Y') %>
    </p>

  </header>

  <div class="post-body">

    <%= article.body %>

  </div>

</section>

<% end %>
