<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="description" content="A layout example that shows off a blog page with a list of posts.">-->
    <title>Broadstack Blog</title>

    <% pure_modules = %w{base grids buttons menus}.map { |m| "pure/0.3.0/#{m}-min.css" } %>
    <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.3.0/base-min.css">
    <link rel="stylesheet" href="//yui.yahooapis.com/combo?<%= pure_modules.join("&amp;") %>">
    <link rel="stylesheet" href="/stylesheets/blog.css">
    <link rel="stylesheet" href="/stylesheets/pure-broadstack.css">

    <script src="http://use.typekit.net/gis6vng.js"></script>
    <script>try { Typekit.load(); } catch (e) {} </script>

  </head>

  <body class="pure-skin-broadstack">
    
  <div class="pure-g-r" id="layout">
    <div class="sidebar pure-u">
      <header class="header">
        <hgroup>
        <h1 class="brand-title">
          <a href="/">Broadstack Blog</a>
        </h1>
        <h2 class="brand-tagline">Add-ons for web apps running anywhere.</h2>
        </hgroup>

        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item broadstack-brand">
              <a class="pure-button" href="https://broadstack.com/">Broadstack</a>
            </li>
          </ul>
        </nav>
      </header>
    </div>

    <div class="pure-u-1">
      <div class="content">

        <%= yield %>

      </div>
    </div>
  </div>

  </body>
</html>
